h1 {
	text-shadow: 0px 0px 5vmin #FFFFFFff, .5vmin .5vmin .5vmin #000000FF;
}

h3 {
	margin: 0px;
}

li {
	float: left;
}

.home-container {
	color: #fed;
}

.app {
  text-align: center;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.container {
	display: block;
	max-width: 80%;
	margin: auto;
	color: #fed;
	position: relative;
}

.app-header {
  background-color: #282c34;
  border-radius: 2vmin;
  min-height: 10vh;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #fed;
}

.navbar {
	height: calc(0px + 5vh);
	width: 100%;
	background: purple;
	border-radius: 0px 0px 2vmin 2vmin;
}

.navbar-items {
	font-size: 2vmin;
	color: black;
	text-shadow: .2vw .1vh .15vmin rgba(0, 0, 0, .6);
	list-style-type: none;
	width: auto;
	max-width: 10em;
	max-height: 1em;
	padding: 0vh .5vw 1vh .5vw;
	border-radius: .3vh 1vh;
	margin: 1vh 1vw;
	background-color: rgba(256, 256, 256, 1);
	box-shadow: .4vw .4vh 5px 0px rgba(0, 0, 0, .5);
}

#basket-button {
	float: right;
	margin-right: 4vw;
}

#download-button {
	float: right;
	margin-right: 4vw;
}

.app-link {
  color: #09d3ac;
}
