#app {                            /* The route App element */
  display: block;
  padding-top: 12%;               /* To push #app below the header */
  background-color: #000a;
}

@media screen and (max-width: 800px) {
  #app {
    padding-top: 8%;              /* To push #app below the header */
  }
}

/* This class prevents text from being selectable **
** Mainly used for buttons made out of divs       */
.disable-selection {
  -moz-user-select: none;         /* Firefox                            */
  -ms-user-select: none;          /* Internet Explorer                  */
  -khtml-user-select: none;       /* KHTML browsers (e.g. Konqueror)    */
  -webkit-user-select: none;      /* Chrome, Safari, and Opera          */
  -webkit-touch-callout: none;    /* Disable Android and iOS callouts   */
}

/* Set the @keyframes for the fadein animation */
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  opacity: 0;                             /* Make things invisible upon start                                                                      */
  animation: fadein ease-in-out 1;        /* Call our keyframe named fadeIn, use ease-in-out transition timing and repeat animation only 1 time    */
  animation-fill-mode: forwards;          /* This makes sure that after animation is done we remain at the last keyframe value (opacity: 1)        */
  animation-duration: 0.5s;
}

/* Set the @keyframes for the fadeout animation */
@keyframes fadeout {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.2);
  }
}

.fade-out {
  opacity: 1;                             /* make things visible upon start                                                                        */
  animation: fadeout ease-in-out 1;       /* Call our keyframe named fadeIn, use ease-in-out transition timing and repeat animation only 1 time    */
  animation-fill-mode: forwards;          /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)        */
  animation-duration: 0.2s;
}
