h1 {

}

h3 {
	margin: 0px;
}

li {
	float: left;
}


#root {
  background-color: #0000;

}

.home-container {
	color: #fed5;
}

.app {
  padding-top: 13%;
  background-color: #000a;
  text-align: center;

}


.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* .container {
	display: block;
	max-width: 100%;
	margin: auto;
	color: #fed5;
	position: relative;
} */

.app-link {
  color: #fed5;
}
