h1 {
}

h3 {
	margin: 0px;
}

li {
	float: left;
}

.home-container {
	color: #fed5;
}

.app {
  text-align: center;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.container {
	display: block;
	max-width: 80%;
	margin: auto;
	color: #fed5;
	position: relative;
}

.app-header {
  text-shadow: .2em .2em .2em #000f, 0em 0em 2em #fedf;
  background-color: #3335;
  border-radius: 2vw;
  min-height: 10vh;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vw);
  color: #fed;
  transition: color 800ms, background-color 800ms;
  box-shadow: 0em -5em 5em 5em #ffeedd20;
}

.standard-button, button{
	transition-property: border-radius, background-color, box-shadow ;
	transition-duration: 1500ms;
	text-decoration: none;
	border: none;
	border-radius: .3vh .8vw;
	background-color: #feda;
	text-shadow: .2vw .1vh .15vw rgba(0, 0, 0, .6);

	box-shadow:
		inset .3em .3em .4em .1em #fffa,
		inset -.3em -.3em .4em .1em #000a,
		.4vw .4vh 5px 0px rgba(0, 0, 0, .5);
}
.standard-button:hover, button:hover{
	transition: border-radius 200ms, background-color 200ms, box-shadow 200ms;
	border-radius: .8vh .3vw;
	background-color: #fed7;

	box-shadow:
		inset .3em .3em .4em .1em #fff7,
		inset -.3em -.3em .4em .1em #0007,
		.4vw .4vh 5px 0px #000a;
}
.standard-button:active, button:active{
	box-shadow:
		inset .-3em .-3em .4em .1em #ffff,
		inset .3em .3em .4em .1em #000f,
		.4vw .4vh 5px 0px #000f;
}

.navbar {
	height: 2em;
	width: 100%;
	background: #635;
	border-radius: 0px 0px 2vmin 2vmin;
}

.navbar-items {
	font-size: 2vw;
	color: black;
	list-style-type: none;
	width: auto;
	max-width: 10em;
	max-height: 1em;
	padding: 0vh .5vw 1vh .5vw;
	margin: 1vh 1vw;

	box-shadow:
		inset .2em .2em .3em .05em #fffa,
		inset -.2em -.2em .3em .05em #000a,
		.4vw .4vh 5px 0px rgba(0, 0, 0, .5);
}

.sticky{
	display: block;
	position: fixed;
	top: 0px;
}

#basket-button {
	float: right;
	margin-right: 4vw;
}

#download-button {
	float: right;
	margin-right: 4vw;
}

.app-link {
  color: #fed5;
}
