.phcontainer {
	color: #fed;
    max-width: 95%;
    margin-left: 2vmin;
    margin-right: 2vmin;
    padding: 2vmin;
    border-radius: 2vmin;
    justify-content: center;
    display: grid;
	grid-template-columns:  repeat(auto-fill, minmax(16vw, 1fr));
    grid-auto-rows: 1fr;
	grid-column-gap: 20px;
	box-shadow: 0em 5em 5em 5em #ffeedd1a;
}

.phcontainer > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.phcontainer > div > a > img {
    width: 100%;
    height: 100%;
}

.gallery-title{
	z-index: 2;
	text-shadow: .2em .2em .1em #000f;
	background-color: #0000;
}
