.phcontainer {
	color: #fed;
  max-width: 100%;
	min-height: 60vh;
  //margin-left: 2vw;
  //margin-right: 2vw;
	//margin-bottom: 2vh;
  //padding: 2vmin;
  border-radius: 0vw;
  justify-content: space-around;
  display: grid;
	grid-template-columns:  repeat(auto-fill, minmax(16vw, 20vw));
  grid-auto-rows: 1fr;
	grid-column-gap: 20px;

	//background-color: #000a;
	//box-shadow: 0em 5em 5em 5em #fed1;
}


.gallery-title{
	z-index: 2;
	text-shadow: .2em .2em .1em #000f;
	background-color: #0000;
}
