#phcontainer {                                      /* Root element for basket and gallery components */
  display: grid;                                    /* Grid flow context */
	grid-template-columns:  repeat(12, 1fr);
	grid-gap: 10px;
  margin-left: 2vw;
  margin-right: 2vw;
}

#empty_phcontainer {                                /* Empty basket thumbnail */
  color: #fed;
}

/* Adjustments for screens smaller than 800px wide */
@media screen and (max-width: 800px) {
  #phcontainer{
    grid-template-columns:  repeat(6, 1fr);        /* Halve the grid size */
    margin-top: 2.5rem;
  }
}
