.phcontainer {
	color: #fed;
  max-width: 100%;
	min-height: 60vh;
  margin-left: 2vw;
  margin-right: 2vw;
	//margin-bottom: 2vh;

  margin-top: 2.5rem;
  //padding: 2vmin;
  border-radius: 0vw;
  justify-content: center;
  align-content: flex-start;
  display: grid;
	grid-template-columns:  repeat(12, 1fr);
  //grid-auto-rows: 1fr;
	grid-gap: 10px;

	//background-color: #000a;
	//box-shadow: 0em 5em 5em 5em #fed1;
}

@media screen and (max-width: 800px) {
  .phcontainer{
    grid-template-columns:  repeat(6, 1fr);
  }
}


.gallery-title {
	z-index: 2;
	text-shadow: .2em .2em .1em #000f;
	background-color: #0000;
}

.app-header {
  position: fixed;
}

.header-spacer {
  //display: block;
  border: 5px solid white;
}
