.app-header {
  position: fixed;
  z-index: 2;
  display: block;
  margin-top: 0%;
  background-color: #000c;
  //min-height: 5em;
  font-size: calc(10px + 2vw);
  color: #fed;
  backdrop-filter: blur(8px);
  text-align: left;
  width: 100%;

}

.logo {
  width: 90%;
  color: #fed;
  margin-left: 5%;
  margin-top: 0em;
  margin-bottom: 0;
}

.app-header a:hover {
  text-decoration: none;
}

.navbar {
  float: right;
  margin: 0;
  padding-right: 1em;
	height: 0em;
}

.function-bar {
  display: block;
  margin-top: .2em;
  margin-bottom: 5px;
  padding: .2em;
  padding-right: 4%;
  width: auto;
  height: 1em;
  background: #3337;
}

.navbar-items {
  /* border: 2px solid white; */
  display: inline;
  float: left;
	font-size: calc(2vw);
	color: #fed;
	list-style-type: none;
	width: 4em;
  text-align: center;
	padding: 2% .5vw .4em .5vw;
	margin: 1% .5vw;
  border-radius: .1em;
  border-bottom: solid #fed0 .1em;
}

.funcbar-items {
  display: inline;
  float: right;
  list-style-type: none;
  text-align: center;
  font-size: 60%;
  color: #fed;
  padding: .2vh .6vw .2vh .6vw;
  margin: auto 0 auto 1em;
  transition-property:  background-color, border, color;
  transition-duration: 1500ms;
  background-color: #0004;
  border-right: .2em solid #555a;
  border-bottom: .3em solid #222a;
}

.funcbar-items:hover{
  transition-property:  background-color, border, color;
  transition-duration: 200ms;
  background-color: #fed2;
  border-right: .2em solid #555f;
  border-bottom: .3em solid #222f;

}

.funcbar-items-ghost {
  color: #222;
  transition-property:  background-color, border, color;
  transition-duration: 1500ms;
  background-color: #000f;
  border-right: .2em solid #555a;
  border-bottom: .3em solid #222a;
}

.funcbar-items-ghost:hover {
  cursor: not-allowed;
  background-color: #000;
}

.nav-button {
  //min-width: 4em;
}

#nav-button {
    transition-property: background-color border color;
    transition-duration: 1s;
}


/* I have added this styling at the end to keep it isolated                   */
/* It is all the code needed for the animated underline effect                */
.navbar-items {
  position: relative;       /* establishes a new flow context to anchor the   */
  line-height: 1.3em;       /* absolute positionned ::after psudo element.    */
  height: 1em;              /* Also ristrict the height of the element to 1em */
}

.navbar-items::after {      /* Creates a psudo element after the navbar-items */
  content: '';              /* elements. Absolute positionning allows the use */
  position: absolute;       /* of left & bottom and anchors element to it's   */
  bottom: 0;                /* closest ancestor with reletive positionning.   */
  left: 50%;                /* The psudo element is positionned in the middle */
  width: 0;                 /* at the bottom with a solid border and 0 width. */
  height: .2em;             /* Element is not yet visible!                    */
  border-bottom: .15em solid #fed;
}

.navbar-items, .navbar-items::after { /* propertys transition over a duration */
  transition-property: left, width, background-color, border;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.navbar-items:hover::after {    /* On hover ajust the position and the width  */
  left: 10%;                    /* of the psudo element (making them visible) */
  width: 80%;                   /* the transition will be animated because of */
}                               /* the transition effects */

.selected {                     /* When selected highlight the background     */
  transition: background-color 1500ms;
  background-color: #fed4;
}

.selected::after {              /* When selected Keep the underline visible   */
  left: 10%;
  width: 80%;
  border-bottom: .15em solid #fed;
}
