h1.logo {
  display: flex;
  width: 90vw;
  color: #fedf;
  margin-left: 5vw;
  margin-top: 0em;
  margin-bottom: 0;
}

.app-header {
  position: fixed;
  z-index: 2;
  display: block;
  margin-top: 0%;
  //text-shadow: .2em .2em .2em #000f, 0em 0em 2em #fedf;
  //background-image: url("../resources/header_background.jpg");
  //background-repeat: no-repeat;
  //background-position: center;
  background-color: #000c;
  //border-radius: 2vw;
  min-height: 10vh;
  //align-items: center;
  //justify-content: left;
  font-size: calc(10px + 2vw);
  color: #fed;
  //transition: color 800ms, background-color 800ms;
  backdrop-filter: blur(10px);
  text-align: left;
  min-width: 100%;
}

.navbar {
  display: block;
  float: right;
  margin: 0;
  padding-right: 1em;
	height: 0em;
	width: auto;
  //background-color: #000f;
	background: #fed7;
	//border-radius: 0px 0px 0vmin 0vmin;
}

.function-bar{
  display: block;
  margin-top: .2em;
  margin-bottom: 1em;
  padding: .2em;
  padding-right: 2em;
  width: auto;
  height: 1em;
  //right: 0;
  //float: right;
  background: #3337;
}

.sticky_navbar {
	display: block;
	position: fixed;
	top: 0px;
}

.sticky_navbar + .content {
  padding-top: 60px;
}

.navbar-items {
  display: inline;
  float: left;
	font-size: 2vw;
	color: #fed;
	list-style-type: none;
	width: 4em;
  text-align: center;
	padding: 0 0 .4em 0;
	margin: 1vh 1vw;

  border-radius: .1em;
  border-bottom: solid #fed0 .1em;
	transition-property:  border;
	transition-duration: 1500ms;
}

.funcbar-items {
  display: inline;
  float: right;
  list-style-type: none;
  text-align: center;
  font-size: 1.5vw;
  color: #fed;
  padding: .3em;
  margin-left: 1em;
  transition-property:  background-color, border, color;
  transition-duration: 1500ms;
  background-color: #0004;
  border-right: .2em solid #555a;
  border-bottom: .3em solid #222a;
}

.funcbar-items:hover{
  transition-property:  background-color, border, color;
  transition-duration: 200ms;
  background-color: #fed2;
  border-right: .2em solid #555f;
  border-bottom: .3em solid #222f;

}

.funcbar-items-ghost {
  color: #222;
  transition-property:  background-color, border, color;
  transition-duration: 1500ms;
  background-color: #000f;
  border-right: .2em solid #555a;
  border-bottom: .3em solid #222a;
}

.nav-button {
  //min-width: 4em;
}

#nav-button {
    transition: all 1s;
}

/* I have added this styling at the end to keep it isolated */
/* It is all the code needed for the animated underline effect */
.navbar-items {
position: relative;
line-height: 1.3em;
height: 1em;
}

.navbar-items::after {
content: '';
position: absolute;
bottom: 0;
left: 50%;
width: 0;
height: .2em;
border-bottom: .15em solid #fed;
}

.navbar-items, .navbar-items::after {
transition: all 0.4s ease-in-out;
}

.navbar-items:hover::after {
left: 10%;
width: 80%;
}

.selected {
  transition: background-color 1500ms;
  background-color: #fed4;
}

.selected::after {
left: 10%;
width: 80%;
border-bottom: .15em solid #fed;
}
