h1.logo {
  color: #fedf;
  margin-left: 1em;
  margin-top: 0em;
  margin-bottom: 0;
}

.app-header {
  padding: 0em 0em .1em 0em;
  margin-top: 0%;
  //text-shadow: .2em .2em .2em #000f, 0em 0em 2em #fedf;
  //background-image: url("../resources/header_background.jpg");
  //background-repeat: no-repeat;
  //background-position: center;
  background-color: #000a;
  //border-radius: 2vw;
  min-height: 10vh;
  //align-items: center;
  //justify-content: left;
  font-size: calc(10px + 2vw);
  color: #fed;
  //transition: color 800ms, background-color 800ms;
  //box-shadow: 0em -5em 5em 5em #ffeedd20;
  text-align: left;
}

.navbar {
  display: inline-block;
  float: right;
  margin: 0;
  padding-right: 0em;
	height: 0em;
	//width: auto;
  //background-color: #000f;
	background: #fed7;
	//border-radius: 0px 0px 0vmin 0vmin;
}

.sticky_navbar {
	display: block;
	position: fixed;
	top: 0px;
}

.sticky_navbar + .content {
  padding-top: 60px;
}

.navbar-items {
	font-size: 2vw;
	color: #fed;
	list-style-type: none;
	width: 6em;
	//max-width: 10em;
	//max-height: 1em;
  text-align: center;
	padding: 0 0 .4em 0;
	margin: 1vh 1vw;

  border-radius: .1em;
	transition-property:  box-shadow, background-color;
	transition-duration: 1500ms;
	//box-shadow:
		inset .1em .1em .1em .05em #fff7,
		inset -.1em -.1em .1em .05em #0007,
		.4vw .4vh 5px 0px #0005;
}

.navbar-items:hover {

	transition-property:  box-shadow, background-color;
	transition-duration: 100ms;

	background-color: #feda;

}

.nav-button {
  min-width: 4em;
}
