h1.logo {
  display: flex;
  width: 90vw;
  color: #fedf;
  margin-left: 1em;
  margin-top: 0em;
  margin-bottom: 0;
}

.app-header {
  padding: 0em 0em .1em 0em;
  margin-top: 0%;
  //text-shadow: .2em .2em .2em #000f, 0em 0em 2em #fedf;
  //background-image: url("../resources/header_background.jpg");
  //background-repeat: no-repeat;
  //background-position: center;
  background-color: #000a;
  //border-radius: 2vw;
  min-height: 10vh;
  //align-items: center;
  //justify-content: left;
  font-size: calc(10px + 2vw);
  color: #fed;
  //transition: color 800ms, background-color 800ms;
  //box-shadow: 0em -5em 5em 5em #ffeedd20;
  text-align: left;
}

.navbar {
  display: inline-block;
  float: right;
  margin: 0;
  padding-right: 1em;
	height: 0em;
	width: auto;
  //background-color: #000f;
	background: #fed7;
	//border-radius: 0px 0px 0vmin 0vmin;
}

.function-bar{
  margin-top: 0em;
  margin-bottom: 1em;
  padding-right: 2em;
  width: 50vw;
  height: 0em;
  display: inline-block;
  position: fixed;
  right: 0;
  //float: right;
  background: #2ed7;
}

.sticky_navbar {
	display: block;
	position: fixed;
	top: 0px;
}

.sticky_navbar + .content {
  padding-top: 60px;
}

.navbar-items {
  display: inline-block;
  float: left;
	font-size: 2vw;
	color: #fed;
	list-style-type: none;
	width: 4em;
	//max-width: 10em;
	//max-height: 1em;
  text-align: center;
	padding: 0 0 .4em 0;
	margin: 1vh 1vw;

  border-radius: .1em;
  border-bottom: solid #fed0 .1em;
	transition-property:  border;
	transition-duration: 1500ms;
	//box-shadow:
		inset .1em .1em .1em .05em #fff7,
		inset -.1em -.1em .1em .05em #0007,
		.4vw .4vh 5px 0px #0005;
}

.funcbar-items {
  float: right;
  list-style-type: none;
  text-align: center;
  font-size: 1.5vw;
  color: #fed;
  padding: .3em;
  margin-left: 1em;
  transition-property:  background-color, border, color;
  transition-duration: 1500ms;
  background-color: #0001;
  border-right: .2em solid #555a;
  border-bottom: .3em solid #222a;
}

.funcbar-items:hover{
  transition-property:  background-color, border, color;
  transition-duration: 200ms;
  background-color: #fed2;
  color: #fedf;
  border-right: .2em solid #555f;
  border-bottom: .3em solid #222f;

}

.funcbar-items-ghost {
  float: right;
  list-style-type: none;
  text-align: center;
  font-size: 1.5vw;
  color: #222;
  padding: .3em;
  margin-left: 1em;
  transition-property:  background-color, border, color;
  transition-duration: 1500ms;
  background-color: #0001;
  border-right: .2em solid #555a;
  border-bottom: .3em solid #222a;
}

.nav-button {
  min-width: 4em;
}

/* I have added this styling at the end to keep it isolated */
/* It is all the code needed for the animated underline effect */
.navbar-items {
position: relative;
line-height: 24px;
}

.navbar-items::after {
content: '';
position: absolute;
display: block;
bottom: 0;
left: 50%;
width: 0;
height: .2em;
border-bottom: .2em solid #fed;
}

.navbar-items, .navbar-items::after {
transition: all 0.4s linear;
}

.navbar-items:hover::after {
left: 10%;
width: 80%;
}

.selected::after {
content: '';
position: absolute;
display: block;
bottom: 10%;
left: 10%;
width: 80%;
height: .2em;
border-bottom: .2em solid #fed;
}
