
h2 {
  color: #fedf;
  font-size: 45px;
}

h3 {
  color: #fedf;
}

.home-container {
  /* border: 1px solid white; */
  display: block;
  width: calc(95% - 3em);
  margin: auto;
  margin: 1em auto 0 auto;
  padding: 2em;
  background-color: #222;
  border-radius: 10px;
}

.welcome-message {
  /* border: 1px solid white; */
  width: 95%;
  font-size: 1.5rem;
  text-align: left;
  color: #cba;
}

.ul-container {
  /* border: 2px solid white; */
  display: inline-flex;
}

.technologies-ul {
  /* border: 2px solid white; */
  margin-right: 5rem;
  color: inherit;
  font-size: 2rem;
}

.code-exerpt {
  border: 1px solid white;
  display: block;
  margin: 1em;
  width: 55em;
  max-height: 30vh;
  overflow: auto;
  margin-bottom: 40%;
  margin-left: 2em;
}
