h2 {
  color: #fedf;
  font-size: 3rem;
  text-decoration: underline;
}

h3 {
  color: #fedf;
  font-size: 2rem;

}

strong {
  color: #dcbf;
}

ul {
  margin: 0;
}


p {
  margin-top: 0;
}

cite {
  font-weight: bold;
  color: #cbaf;
}

.clear{
  clear: both;
}

.home-container {
  /* border: 1px solid white; */
  display: block;
  width: calc(95% - 3em);
  margin: auto;
  margin: 1em auto 0 auto;
  padding: 2em;
  background-color: #222;
  border-radius: 10px;
  font-size: 1.5em;
  text-align: left;
  color: #ba9f;
}

.welcome-message {
  /* border: 1px solid white; */
  display: inline-block;
  width: 95%;
}

.ul-container {
  /* border: 2px solid white; */
  display: block;

  width: 100%;
}

.technologies-ul {
  /* border: 2px solid white; */
  display: inline-block;
  float: left;
  min-width: 23em;
  width: 30%;
  margin-right: 3rem;
  color: inherit;
}

.code-exerpt {
  /* border: 1px solid white; */
  display: block;
  margin: 1em;
  width: 55em;
  max-height: 30vh;
  overflow: auto;
  margin-bottom: 40%;
  margin-left: 2em;
  background-color: #000;
  filter: blur(5);
}
