body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

html {
  background: url("../resources/header_background.jpg");
}

a {
  color: powderblue;
  text-decoration: none;
  font-size: 1em;
  border: 0;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 200%;
}

h3 {
  margin: 0;
}

button {
  background-color: #000;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}
