.single-wrapper {
	color: #fed;
	max-width: 95%;
	margin-left: 2vmin;
	margin-right: 2vmin;
	padding: 2vmin;
	border: 2px solid #f8f4ff;
	border-radius: 2vmin;
	justify-content: center;
	display: block;
	position: relative;


}

.image-container {
	display: block;
}

.next-prev-container {
	display: block;

}

.single-image {
    max-width: 100%;
	position: relative;
	z-index: 1;
}

.next-image {
	display: block;
	border-radius: 2vh;
	border: 2px solid;
	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	font-size: xxx-large;
	z-index: 2;
	padding-top: 10%;
	height: 60%;
	width: 20%;
	float: right;
	position: absolute;
	top: 10%;
  	right: 5%;
	transition-property: all;
	transition-duration: 2000ms;
}

.prev-image {
	display: block;
	border-radius: 2vh;
	border: 2px solid;
	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	font-size: xxx-large;
	z-index: 2;
	padding-top: 10%;
	height: 60%;
	width: 20%;
	float: right;
	position: absolute;
	top: 10%;
  	right: 75%;
	transition-property: all;
	transition-duration: 2000ms;
}

.next-image:hover {
	color: #fed3;
	background-color: rgba(0, 0, 0, .5);
	transition-property: all;
	transition-duration: 200ms;
}

.prev-image:hover {
	color: #fed3;
	background-color: rgba(0, 0, 0, .5);
	transition-property: all;
	transition-duration: 200ms;
}

.add-remove-basket {
	display: block;
	margin: auto;
	width: 80%;
	height: 4em;
}
