.single-wrapper {
  display: flow;              /* Element behaves like block, contents is flexbox formatting */
  position: relative;         /* Floated to create new BFC (Formatting Context) */
  width: calc(100% -20px);
  margin-top: 5vh;
  //border: 5px solid blue;
}

.slider {
  position: absolute;
  //padding: 0 32px 0 32px;
  margin: 0 100px 0 100px;
  //border: 5px solid green;
	height: calc(100% - 10px);
  width: calc(100% - 200px);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.top-buttons-container {
  display: flex;
  justify-content: space-between;
}

.top-buttons {
  margin: 0 50px;
  text-decoration: none;
  background-color: #0000;
  //border: 5px solid purple;
  //margin: 5px;
  z-index: 4;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 33%;
  height: 50px;
  opacity: .3;
  transition: opacity, 2000ms;
}

.top-buttons:hover {
  transition: opacity, 500ms;
  opacity: .6;

}

.exit-button {
  background-image: url("../resources/icons/x-circle.svg");
  background-position: left;
}

.remove-button {
  background-image: url("../resources/icons/minus-circle.svg");
  background-position: right;
  //height: calc(50px + 10px);
}

.add-button {
  background-image: url("../resources/icons/shopping-cart.svg");
  background-position: right;
  //height: calc(50px + 10px);
  //width: calc(33% + 10px)
}

.next-prev-container {
  display: flex;
  justify-content: space-between;
}

.next-prev-button {
	//border: 2px solid yellow;
	background-color: #0000;
  opacity: .2;
	font-size: xxx-large;
	z-index: 2;
	min-height: 65vh;
	width: 33%;
  background-size: 30%;
	background-repeat: no-repeat;

  transition-property: opacity;
	transition-duration: 2000ms;
}

.next-prev-button:hover {
  opacity: .6;
	transition-property: opacity;
	transition-duration: 500ms;
}

.prev-image {
  background-image: url("../resources/icons/chevron-left(fed).svg");
  background-position: left;
}

.next-image {
  background-image: url("../resources/icons/chevron-right(fed).svg");
  background-position: right;
}
