.single-wrapper {
  padding-top: 12em;
	color: #fed;
	max-width: 100%;
	height: 70vh;
	border: 2px solid #f8f4ffb0;
	border-radius: 2vmin;
	justify-content: center;
	display: block;
	position: relative;
	background-color: #000b;
}

.image-container {
	margin: auto;
	display: block;
	min-height: 40vh;
	height: 100%;
	width: 95%;
	position: relative;
	display: flex;
}

.next-prev-container {
	display: block;

}

.single-image {
	display: block;
	width: 100%;
	height: 90%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
  margin-bottom: 10%;
  margin-top: 1%;
}

.next-image {
	display: block;
	border-radius: 2vh;
	border: 2px solid;
	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	font-size: xxx-large;
	z-index: 2;
	padding-top: 10%;
	height: 60%;
	width: 20%;
	float: right;
	position: absolute;
	top: 10%;
  	right: 5%;
	transition-property: all;
	transition-duration: 2000ms;
}

.prev-image {
	display: block;
	border-radius: 2vh;
	border: 2px solid;
	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	font-size: xxx-large;
	z-index: 2;
	padding-top: 10%;
	height: 60%;
	width: 20%;
	float: right;
	position: absolute;
	top: 10%;
  	right: 75%;
	transition-property: all;
	transition-duration: 2000ms;
}

.next-image:hover {
	color: #fed3;
	background-color: rgba(0, 0, 0, .5);
	transition-property: all;
	transition-duration: 200ms;
}

.prev-image:hover {
	color: #fed3;
	background-color: rgba(0, 0, 0, .5);
	transition-property: all;
	transition-duration: 200ms;
}

.add-remove-basket {
	display: block;
  margin-bottom: 1%;
	width: 80%;
	height: 3em;
	position: absolute;
	bottom: 0%;
	right: 10%;
}
