.single-wrapper {
  /* border: 5px solid blue; */
  position: relative;         /* Floated to create new formatting context */
  width: 100%;
  margin-top: 5vh;
}

.slider {
  /* border: 5px solid green; */
  position: absolute;
  margin: 0 100px 0 100px;
	height: calc(100% - 10px);
  width: calc(100% - 200px);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
  cursor: zoom-in;
}

@media screen and (max-width: 800px) {
  .slider {
    margin: 0 50px 0 50px;
    width: calc(100% - 100px);
  }
}

.top-buttons-container {
  display: flex;
  justify-content: space-between;
}

.top-buttons {
  /* border: 5px solid purple; */
  margin: 0 50px;
  text-decoration: none;
  background-color: #0000;
  z-index: 4;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 33%;
  height: 50px;
  opacity: .6;
  transition: opacity, 2000ms;
}

.top-buttons:hover {
  transition: opacity, 500ms;
  opacity: .8;

}

.exit-button {
  background-image: url("../resources/icons/x-circle.svg");
  background-position: left;
}

.remove-button {
  background-image: url("../resources/icons/shopping-cart-x.svg");
  background-position: right;
}

.add-button {
  background-image: url("../resources/icons/shopping-cart.svg");
  background-position: right;
}

.next-prev-container {
  display: flex;
  justify-content: space-between;
}

.next-prev-button {
	/* border: 5px solid yellow; */
	background-color: #0000;
  opacity: .2;
	font-size: xxx-large;
	z-index: 2;
	min-height: 65vh;
	width: 33%;
  background-size: 30%;
	background-repeat: no-repeat;
  transition-property: opacity;
	transition-duration: 2000ms;
}

.next-prev-button:hover {
  opacity: .6;
	transition-property: opacity;
	transition-duration: 500ms;
}

.prev-image {
  background-image: url("../resources/icons/chevron-left(fed).svg");
  background-position: left;
}

.next-image {
  background-image: url("../resources/icons/chevron-right(fed).svg");
  background-position: right;
}
