
.images{
	//justify-self: center;
	max-height: 10vh;
  //max-width: 80%;
  width: 100%;
	transition: box-shadow 1500ms;
	padding: 0vw;
  margin-left: auto;
  margin-right: auto;
	border-radius: .2vw;
}
.images:hover{
	transition: box-shadow 200ms;
	//border-radius: .3vw 1.5vw;
	box-shadow: .5vw .5vw 1vw .5vw #fec3, 0px 0px 2vw 3vw #fec1;
  background-size: contain;
  background-repeat: no-repeat;
}

.remove-basket, .add-basket {
	position: absolute;
	top: 0px;
  left: 0px;
  display: block;
  width: 75%;
	height: 2em;
	font-size: 1vw;
	border: none;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail{
	position: relative;
	display: block;
	background-color: #0002;
	max-height: 6vmax;
  min-height: 15vmin;
}

.thumbnail-inner-container {
	//justify-content: center;
	//padding: 5%;
	//margin: 5%;
	margin-bottom: 8%;
  max-height: 100%;
  max-width: 100%;
}
