
.images{
	justify-self: center;
	z-index: -1;
	display: block;
	max-height: 10vw;
	max-width: 100%;
	transition: box-shadow 1500ms, border-radius 1500ms;
	padding: 0vw;
	margin-bottom: 1em;
	border-radius: 1.5vw .3vw;
}
.images:hover{
	transition: box-shadow 200ms, border-radius 200ms;
	border-radius: .3vw 1.5vw;
	box-shadow: .5vw .5vw 1vw .5vw #fec3, 0px 0px 2vw 3vw #fec1;
}

.remove-basket, .add-basket {
	position: absolute;
	bottom: 0px;
	right: auto;
	justify-self: stretch;
    width: 75%;
	height: 2em;
	font-size: 1vw;
	border: none;
	margin-left: auto;
	margin-right: auto;
}


.thumbnail{
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80% 10%;
	justify-items: center;
}

.thumbnail-inner-container {
	justify-content: center;
	padding: 5%;
	margin: 5%;
}
