
.images {
	//max-height: 10vh;
  //max-width: 80%;
  width: 100%;
	transition: box-shadow 1500ms;
	padding: 0vw;
  margin-left: auto;
  margin-right: auto;
	border-radius: .4vw;
  object-fit: cover;
}

.thumbnail {
  margin-top: auto;
  margin-bottom: auto;
	position: relative;
	display: block;
	background-color: #0002;
}

/* If hovering over .thumbnail apply these attributes to .images */
.thumbnail:hover .images {
	transition: box-shadow 200ms;
	box-shadow: .5vw .5vw 1vw .5vw #fec3, 0px 0px 2vw 3vw #fec1;
  background-size: contain;
  background-repeat: no-repeat;
}

/* If hovering over .thumbnail apply these attributes to .add-basket-button but only with gallery className */
.thumbnail:hover .add-basket-thumb.gallery {
  opacity: .7;
  transition: opacity 500ms;
}

/* If hovering over .thumbnail apply these attributes to .remove-basket-button but only with basket className */
.thumbnail:hover .remove-basket-thumb.basket {
  opacity: .6;
  transition: opacity 500ms;
}

.thumb-button{
  position: absolute;
	top: .2em;
  left: .2em;
  width: 4vw;
  height: 4vw;
  z-index: 1;
  border: solid black 2px;
  border-radius: 50%;
  background-color: #fed5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 0;
  transition: opacity 1500ms;
  cursor: pointer;
}

/* If the viewport is less than 800px wide apply these attributes */
@media screen and (max-width: 800px) {
  .thumb-button{
    top: .1em;
    left: .1em;
    width: 6vw;
    height: 6vw;
  }
}

.add-basket-thumb {
  background-image: url("../resources/icons/plus-circle.svg");
}

.remove-basket-thumb {
  background-color: #000;
  background-image: url("../resources/icons/minus-circle.svg");
}

/* Only apply to .remove-basket-thumb when className gallery is present */
.remove-basket-thumb.gallery {
  opacity: .6;
}

@media (any-pointer: coarse) {
  .add-basket-thumb {
    opacity: .7;
  }
  .remove-basket-thumb {
    opacity: .6;
  }
}
